@page "/colleges"

<div class="card">
    <div class="card-header">
        <span>
            <i class="bi bi-globe-americas" /> College
            <a class="btn btn-primary btn-sm float-end" @onclick=@(() => ShowModalAsync())><i class="bi bi-plus-square" /> New College</a>
        </span>
    </div>
    <div class="card-body">
        <Filter PlaceHolder="Search..." Callback=@FilterCallBack />
        <GenericList MyList="colleges">
            <body>
                <Pagination1 CurrentPage="currentPage"
                            TotalPages="totalPages"
                            SelectedPage="SelectedPageAsync"
                            RecordsNumber="SelectedRecordsNumberAsync" />

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>College</th>
                            <th style="width:210px">Photo</th>
                            <th style="width:168px"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var college in colleges!)
                        {
                            <tr>
                            <td><a href="/colleges/details/@college.Id"> @college.Name</a></td>                           
                                <td> <img src="https://localhost:7186/@(college.Photo)" alt="Image" style="max-width: 150px; max-height: 150px;" /></td>
                                <td>
                                    <a href="/colleges/edit/@college.Id" class="btn btn-warning btn-sm">
                                        <i class="oi oi-pencil" /> Edit
                                    </a>
                                <button @onclick=@(() => DeleteAsync(college)) class="btn btn-sm btn-danger"><i class="bi bi-trash" /> Delete</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </body>
        </GenericList>
    </div>
</div>