<EditForm Model="@college" OnValidSubmit="@OnValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div>
        <label>College Name:</label>
        <InputText @bind-Value="college.Name" />
    </div>



    <button type="submit">Submit</button>
</EditForm>
